
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5DADA;
  font-family: "Open Sans", sans-serif;

  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #E59500;
}
.button-54 {
  color: #840032;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;


}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#container {
  display: flex;
  align-items: center;
  
}

#menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-right: 5rem;
}



/* CSS */
.button-54 {
  margin-bottom:1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

